*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
}

.main-image {
  grid-area: image;
  background-image: Url("https://images.squarespace-cdn.com/content/v1/500d8d9dc4aa65567192d7dc/1383330596634-WGGJMWVS4XG3M5HWIG42/ke17ZwdGBToddI8pDm48kNHNFn4KlwQOcDzYmITCR6kUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKci8fUPDANenUMo4VHMJNifsubcuLNKvQxnN-prJpf2Pk_q3qdzl9MT69pMmvCjggz/gq.jpg");
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar {
  grid-area: sidebar;
  background-color: #dadada;
  border-left: 7px solid #696969;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem;
  position: relative;
  transition: background-color 150ms;
}
.sidebar-item:hover,
.sidebar-item:focus {
  background-color: burlywood;
}

.sidebar-item:active {
  background-color: coral;
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}
